$barColor: #0f0;
$barHoverColor: #222;
$barHeight: 8px;
$barWidth: 35px;
$barThickness: 2px;
$buttonColour: green;
$buttonColourHover: #0f0;
$buttonHoverColour: black;

nav {
  background: #111;
  padding: 3px 20px;

  a {
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }

  ul {
    list-style: none;
  }
}

.logo a {
  color: red;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
  outline: none;
  user-select: none;
  border-radius: 50%;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.bars {
  background: $barColor;
  display: inline-block;
  height: $barThickness;
  position: relative;
  // transition: background 0.3s ease-in-out;
  width: $barWidth;
  top: -4px;
}
.bars:before,
.bars:after {
  background: $barColor;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
}
.bars:before {
  top: $barHeight;
}
.bars:after {
  bottom: $barHeight;
}

.toggle:hover {
  background: $barHoverColor;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    order: 1;
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 2;
    display: block;
    margin-right: 2em;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    border: 0;
  }
  .button a {
    padding: 3px 8px;
    background: $buttonColour;
    border-radius: 50em;
  }
  .button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }
  .button a:hover {
    background: $buttonColourHover;
    color: $buttonHoverColour;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
    text-align: left;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}
