* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.motto {
  text-align: center;
  color: #aaa;
  font-size: 2em;
  text-transform: uppercase;
  margin: 3em auto 1em;
  span {
    font-size: small;
  }
}
.main {
  text-align: center;
  color: #aaa;
  margin: 5em 0;
}
footer {
  display: none;
  width: 100%;
  margin-bottom: 1em;
  font-size: x-small;
  color: gray;
  // display: block;
  text-align: center;

  a {
    color: darkolivegreen;
  }
}
