* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: futura, sans-serif;
  font-family: Futura, Arial, sans-serif;
}
.motto {
  text-align: center;
  color: #aaa;
  font-size: 2em;
  // text-transform: uppercase;
  margin: 3em auto 1em;
  span {
    font-size: 1em;
  }
}
.main {
  text-align: center;
  color: #aaa;
  margin: 5em 0;
}

.logoSize {
  max-width: 65ch;
  display: block;
  margin: 0 auto;
}

footer {
  display: none;
  width: 100%;
  margin-bottom: 1em;
  font-size: x-small;
  color: gray;
  // display: block;
  text-align: center;

  a {
    color: darkolivegreen;
  }
}
