:root {
  --yellow: rgb(251, 176, 64);
  --green: rgb(0, 148, 68);
  --cyan: rgb(39, 170, 225);
  --purple: rgb(102, 45, 145);
  --red: rgb(218, 28, 92);
  --lightyellow: rgba(251, 176, 64, 0.1);
  --lightgreen: rgba(0, 148, 68, 0.05);
  --lightcyan: rgba(39, 170, 225, 0.1);
  --lightpurple: rgba(102, 45, 145, 0.05);
  --lightred: rgba(218, 28, 92, 0.05);
}
body {
  margin: 0;
}
html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.motto {
  font-family: Futura, Arial, sans-serif;
  text-align: center;
  color: #aaa;
  font-size: 2em;
  margin: 3em auto 1em;
  line-height: 1.2em;
}
.motto span {
  font-size: 1em;
}
.main {
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: Futura, Arial, sans-serif;
  line-height: 1.8rem;
}

h1 {
  margin-top: 2rem;
  color: #838;
  text-align: center;
}

h2 {
  text-align: center;
}
dt {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
header .motto {
  text-align: center;
  color: #aaa;
  font-size: 2em;
  line-height: 1em;
  margin: 0 auto 4em;
}
header .motto span {
  font-size: 1em;
}

main {
  margin: 0 auto;
  color: #888;
  font-size: 1em;
  line-height: 1.5em;
}
ol li {
  margin-bottom: 0.5rem;
}
.logo {
  max-width: 65ch;
  display: block;
  margin: 2em auto 4em;
}
.logoSize {
  max-width: 65ch;
  display: block;
  margin: 0 auto;
}

section {
  padding: 0 1em 8em;
}

footer {
  display: none;
  width: 100%;
  margin-bottom: 1em;
  font-size: x-small;
  color: gray;
  text-align: center;
}
footer a {
  color: darkolivegreen;
}

.formSection {
  color: #555;
  background-color: var(--lightpurple);
  border: 2px solid var(--purple);
  padding: 1em 1em 0.5em;
  border-radius: 1em;
}
.formSection p,
.formSectiondiv {
  margin: 0 0 0.5em;
}
.formSection div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5em;
}
.formSection label {
  font-weight: bold;
}

.submit {
  grid-column: 1/3;
  width: 100%;
  margin: 0.5em 0 0;
}
.banner {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-size: cover;
  height: 9em;
}
.banner01 {
  background-image: url(../images/photos/pool-05.jpg);
  background-position: top;
}
.banner02 {
  background-image: url(../images/photos/pool-02.jpg);
  background-position: center;
}
.banner03 {
  background-image: url(../images/photos/pool-03.jpg);
  background-position: center;
}
.banner04 {
  background-image: url(../images/photos/pool-04.jpg);
  background-position: center;
}
.banner05 {
  background-image: url(../images/photos/pool-main.jpg);
  background-position: top;
}

.slides {
  max-height: 300px;
  overflow: hidden;
}
.slides img {
  width: 100%;
}

.slick-slider {
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}
.colorPattern {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-image: url(../images/colorPattern.png);
  background-repeat: repeat-x;
}
.patternTop {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.slide01 {
  position: relative;
}
.slide01 .bg01 {
  position: relative;
  top: 0;
  left: 0;
}
.slide01 h1 {
  position: absolute;
  display: block;
  top: 40px;
  right: 20px;
  text-align: center;
  color: white;
  text-shadow: 0 0 4px black;
  font-size: 3em;
  line-height: 1em;
}
.slide01 .slide01Logo {
  position: absolute;
  display: block;
  top: 40px;
  left: 10px;
  width: 300px;
}

.section01 {
  background-color: var(--lightyellow);
}
.section02 {
  background-color: var(--lightpurple);
}
.section03 {
  background-color: var(--lightcyan);
}
.section04 {
  background-color: var(--lightgreen);
}
.section05 {
  background-color: var(--lightred);
}
.section06 {
  background-color: var(--lightyellow);
}

section > h1,
section > p,
section > ol,
section > dl,
section > .formSection,
section > ul {
  max-width: 58ch;
  margin-left: auto;
  margin-right: auto;
}

a,
dt {
  color: var(--cyan);
}
a:hover {
  color: var(--purple);
}

ul {
  list-style: none;
}
ul li::before {
  content: "•";
  color: var(--cyan);
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  width: 1em;
  margin-left: -1em;
}

ol {
  list-style: none;
  counter-reset: li;
}
ol li::before {
  content: counter(li) ".";
  color: var(--cyan);
  display: inline-block;
  font-weight: bold;
  width: 1.2em;
  margin-left: -1.2em;
}
ol li {
  counter-increment: li;
}
.active {
  background-color: red;
}

@media (max-width: 600px) {
  .slide01 .slide01Logo {
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -120px;
    width: 240px;
  }
  .slide01 h1 {
    position: absolute;
    top: unset;
    bottom: 0px;
    right: 1%;
    left: 1%;
    font-size: 1.3em;
  }
}
